#policy{
    background-color: rgb(223, 222, 222);
}
.content{
    padding: 10px;
    width: 575px;
    height: 822px; 
    /* position: fixed; */
    /* left: 0; */
    /* right: 0; */
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}

.content > h1 {
    text-align: center;
    margin: 20px 0;
}

.agree {
    text-align: left;
    margin: 50px 0;
}

.accept {
    margin-right: 10px;
}

.acceptText {
    font-size: 1.2rem;
    font-weight: bold;
}

.buttons {
    text-align: center;
}

.buttons > *{
    margin: 0 20px 50px 20px;
    width: 150px;
}

.policynav > ul{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    list-style: none;
}

.policynav > ul > li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0 0 10px;
    width: 300px;
    height: 50px;
    text-align: center;
    cursor: pointer; 
}

.activeButton {
    background-color: #0d6efd;
    color: white;
    border: none;
    border-radius: 10px;
}

.listElements {
    border: 2px solid black;
    border-radius: 10px;
    background-color: whitesmoke;
}